---
interface Props {
  size?: number;
  title?: string;
}

const { size = 20, title = 'GitHub' } = Astro.props;
---

<svg
  aria-hidden={title ? undefined : 'true'}
  role={title ? 'img' : undefined}
  width={size}
  height={size}
  viewBox="0 0 98 96"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  {title && <title>{title}</title>}
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M48.9 0C21.9 0 0 22 0 49.1c0 21.7 14 40.1 33.5 46.6 2.4.5 3.3-1.1 3.3-2.4 0-1.2-.1-5.2-.1-9.4-13.6 3-16.5-5.8-16.5-5.8-2.2-5.7-5.4-7.2-5.4-7.2-4.4-3 .3-3 .3-3 4.9.3 7.5 5.1 7.5 5.1 4.3 7.4 11.3 5.3 14.1 4 .4-3.2 1.7-5.3 3.1-6.5-10.9-1.2-22.3-5.5-22.3-24.3 0-5.4 1.9-9.8 5-13.2-.5-1.2-2.2-6.3.5-13 0 0 4.1-1.3 13.4 5 3.9-1.1 8-1.6 12.1-1.6s8.3.6 12.1 1.6c9.3-6.3 13.4-5 13.4-5 2.7 6.7 1 11.8.5 13 3.1 3.4 5 7.8 5 13.2 0 18.9-11.5 23.1-22.4 24.3 1.8 1.5 3.3 4.5 3.3 9.1 0 6.5-.1 11.8-.1 13.4 0 1.3.9 2.9 3.4 2.4C84 89.2 98 70.8 98 49.1 97.8 22 75.9 0 48.9 0Z"
  />
</svg>
